.adminContent {
    margin-left: 250px;
    height: 100%;
    margin-top: 25px;

}

.navbar {
    /* border: 1px solid #ccc; */
    /* margin-top: 50px; */
}

.adminPage .wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.adminPage  h2{
    margin-bottom: 30px;
}

.adminBlank form {
    /* display: flex; */
}

.adminBlank input {
    /* width: 100px; */
    background: #FFF;
    color: #1A2E47;
    border-radius: 5px;
    padding: 5px 10px;
    display: block;
    margin: 10px 0;
}

.adminBlank button {
    width: 100px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.adminBlank button:hover {
    background: #1A2E47;
    color: #FFF;
}