.navbar {
    width: 1252px;
    height: 100px;
    background: #FFF;
    border-radius: 25px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 53px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    margin-top: 25px;
    /* position: fixed; */
  }

.navbar .menu {
    /* width: 250px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar li{
  width: 90px;
}
  
.navbar a {
    display: block;
    text-decoration: none;
    color: #1E1E1E;
    transition: transform 0.1s ease-in-out;
    
  }
  
.navbar a:hover{
    color: #000;
    transform: scale(1.05);
  } 
  
.logo {
    background-image: url('../../img/logo.svg');
    width: 70px;
    height: 88px;
    transform: scale(.7);
    cursor: pointer;
  }

.adminCaption {
  background: #192E47;
  color: #FFF;
  font-size: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.profile_block {
  display: flex;
  align-items: center;
}

.profile {
  display: inline-block;
}

.logout {
  margin-left: 25px;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.logout:hover {
  transform: scale(1.1);
}

  @media (max-width: 1432px) {
    .navbar {
      width: 80%;
      margin: 0 auto;
    }

    .menu {
      width: 180px;
    }
  }

  @media (max-width: 391px) {
    .navbar {
        display: none;
    }

    .menu {
        display: none;
    }
  }