.learnPage {
    color: #1E1E1E;
}

.learnNavbar {
    border: 1px solid #BFBFBF;
    margin-top: 20px !important;
    width: 90% !important;
}

.learnNavbarMobile .open {
    max-width: 100vw;
    position: absolute;
    left: 0; /* Позиционируем элемент на 50% ширины экрана */

}

.learnNavbarMobile {
    color: #1E1E1E !important;
}

.learnNavbarMobile .logo {
    background-image: url('../../img/black_logo_mobile.svg');
}

.learnNavbarMobile .menu_btn {
    background-image: url('../../img/burger-menu_black.svg');
}