.footer {
    width: 100%;
    height: 327px;
    background: #373535;
    display: flex;
    align-items: center;
    color: #9B9A9A !important;
    font-size: 24px;
    
    position: relative;
    margin-top: auto;
    /* bottom: 0;
    position: fixed; */
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    background-image: url('../../img/footer_logo.svg');
    width: 100px;
    height: 124px;
}

.footer_menu {
    width: 100px;
    height: 173px;
}

.footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
}

.footer li a {
    color: #9B9A9A;
    font-size: 24px;
    transition: color 0.2s ease-in-out;
}

.footer li a:hover {
    color: #FFF;
    /* font-weight: 600; */
    /* transition: font-weight 0.3s ease; */
}

.social {
    display: flex;
    width: 146px;
    justify-content: space-between;
    align-items: start;
}

.social_icon {
    color: #BABABA;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.social_icon:hover {
    color: #FFF;   
}

/* .facebook-icon:hover {
    color: white;
  } */

.up_button {
    background-image: url('../../img/Up.png');
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.up_button:hover {
    transform: scale(1.1);
}

@media (max-width: 391px) {
    .footer {
        height: 653px;
        align-items: center;
    }

    .footer .wrapper {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    .footer ul {
        gap: 20px;
    }
  }