.filterBlock {
    /* height: 419px; */
    /* width: 100%; */
    margin-top: 50px;
    color: #1E1E1E;
    font-size: 30px;
}

.filterCards {
    display: flex;
    /* width: 100%; */
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    /* overflow-x: auto; */
}

@media (max-width: 391px) {
    .filterBlock {
        /* height: 319px; */
        width: 380px;
        overflow-x: auto;
        font-size: 20px;
        margin-left: 10px;
    }

    .filterCards {
        
    }
}
