* {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-Regular', sans-serif;
  /* background: gray; */
}

.wrapper {
  width: 1352px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 1432px) {
  .wrapper {
    width: 90%;
    overflow-x: auto;
  }
}